.unchecked-answer {
    background-color: blue;
}

.correct-answer {
    background-color: green;
}

.incorrect-answer {
    background-color: red;
}

.answer-button {
    height: 20px;
    color: #4d5b9e;
    opacity: 100%;
    border-radius: 8px;
    font-size: 10px;
    border-color: #4d5b9e;
    border-width: 1px;
    margin: 5px;
}
