.check-answers-button {
    margin-top: 10px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    border-radius: 10px;
    width: 120px;
    height: 35px;
}

.play-again-button {
    margin-top: 10px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    display: inline-block;
}

.score-text {
    display: inline-block;
}
