* {
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    height: 550px;
    width: 550px;
    background-color: #f5f7fb;
    margin-top: 10%;
    font-family: 'Karla', sans-serif;
    margin-top: 0;
    text-align: center;
    z-index: 0;
}

.new-game-page {
    margin-top: 200px;
}

.title {
    color: #293264;
    margin-bottom: 10px;
}

.description {
    color: #293264;
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.start-button {
    background-color: #4d5b9e;
    color: #f5f7fb;
    border-radius: 15px;
    width: 190px;
    height: 50px;
}

#yellow_blob {
    position: absolute;
    right: 0px;
    z-index: -1;
}

#blue_blob {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
