* {
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    height: 550px;
    width: 550px;
    background-color: #f5f7fb;
    margin-top: 10%;
    font-family: 'Karla', sans-serif;
    margin-top: 0;
    text-align: center;
}

#yellow_blob {
    position: absolute;
    right: 0px;
}

#blue_blob {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
